@import "./normalize.css";
:root {
  --color-normal: #646464;
  --color-hover: #FE8C00;
  --color-tint: #999;
  --color-title: #222;
  --color-price: #FF6600;
  --baseFontSize: 12px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "-apple-system","BlinkMacSystemFont","Roboto","Helvetica Neue","MIcrosoft YaHei",sans-serif !important;
}

body {
  background-color: #F8F8F8;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* 清楚浮动 */
.clear-fix::after, .clear-fix::after{
  clear: both;
  content: "";
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}
/* IE 浏览器修复浮动 */
.clear-fix {
  zoom: 1;
}